version: 2
jobs:
  build:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - run: docker build -t aws-codecommit-trigger-plugin-test -f Dockerfile-test .
      - run: docker run -t aws-codecommit-trigger-plugin-test
        no_output_timeout: 3600
